<!DOCTYPE html>
<html>
  <head>

    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>


    {{#tweets}}
      <span> {{ text }} </span><br />

    {{/tweets}}


  </body>




</html>