<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <div style="background:white">
          <h2 id="title">{{title}}</h2>

          {{#data.businesses}}
          <div class="venue-box">
              <img class="icon" src="{{image_url}}" />
              <h2>{{name}}, {{location.address}}</h2><br/>
              <a target="_blank" href="{{url}}">Yelp</a>
              <p>{{snippet_text}}</p>
              <p>{{location.address}}</p>

              <br />
              <ol>
              {{#categories}}
                  <li>{{.}}</li>
                  
                  
              {{/categories}}
              </ol>

              <form>
                <h3>Contact US</h3>
                <input type="text" placeholder="Message" />
                <input type="submit" value="Send" />

              </form>
          </div> 
          {{/data.businesses}}
      </div>
  </body>




</html>