<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>{{title}}</h1>

    {{#data.businesses}}
        <span>{{name}}, {{location.address}}</span><br/>

    {{/data.businesses}}

  </body>




</html>